<template>
  <div>
    <img class="logo" src="../../assets/logo.png">
    <h1>SemestralWork 1.5</h1>
  </div>
</template>

<script>

export default {
  name: 'SemestralWork15',
  data () {
    return {
      loading: false
    }
  },
  methods: {
  }
}
</script>
