<template>
  <div id="app">
    <div class="wrapper">
      <slider :slide-menu-items="slideMenuItems"></slider>
      <content-wrap></content-wrap>
    </div>
  </div>
</template>

<script>

import Slider from './Slider.vue'
import ContentWrap from './ContentWrap.vue'
import slideMenuItems from './lib/slideMenuItems.js'

export default {
  name: 'App',
  data () {
    return {
      slideMenuItems: slideMenuItems
    }
  },
  components: {
    'slider': Slider,
    'content-wrap': ContentWrap
  }
}
</script>
