<template>
  <aside id="slider" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul data-widget="tree" class="sidebar-menu">
        <slide-item
          v-for="(item,index) in slideMenuItems"
          :data="item"
          :key="index"
          :type="item.type"
          :isHeader="item.isHeader"
          :icon="item.icon"
          :name="item.name"
          :badge="item.badge"
          :items="item.items"
          :router="item.router"
          :link="item.link"
        >
        </slide-item>
      </ul>
    </section>
  </aside>
</template>

<script>

import SlideItem from './components/SlideItem'

export default {
  name: 'slider',
  props: {
    slideMenuItems: {
      default: []
    }
  },
  created () {
  },
  components: {
    'slide-item': SlideItem
  }
}
</script>
